.container {
  display: flex;
  background-color: #d8dfe6; 
  padding: 60px 120px;
  color: black;
}

.imageContainer {
  flex: 1;
  margin-right: 20px;
}
.centeredTitle {
  text-align: center;
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 400;
}

.textContainer {
  flex: 2;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  line-height: 30px;
}

.profilePic {
  border-radius: 50%;
}
.aboutMeText {
  text-align: center;
}
.resumeContainer {
  text-align: center;
  margin-top: 32px;
}
.resumeButton {
  padding: 8px 16px;
  border: 1px solid #aaa; 
  border-radius: 8px;
  background-color: white; 
  color: black; 
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.1s, background-color 0.1s, color 0.1s, border-color 0.1s; 
}

.resumeButton:hover {
  background-color:grey; 
  color: #000; 
  border-color: #888; 
}
